.container{
    background-color: bisque;
}
#ss{
    background-color:azure;
    text-align: center;
    color: blueviolet;
    align-content: center;
    justify-content: center;
   
    margin-right: 40%50%;
}