
<app-adminpage></app-adminpage>
<form id="edit" class="form-inline" [formGroup]="loan11">
    <div id="qq"class="search mt-4 mb-4">
        <input class="form-control" type="search" placeholder="search with id" aria-label="Search" formControlName="id"ngmodel>
        <button class="btn btn-warning" type="submit" (click)="onsubmit(loan11.value)" [disabled]="loan11.invalid">Search</button>
    </div>
</form>
<div  id="edi"class="container">
    <form class="form-inline">
        <div class="mt-3 mb-3">

        </div>
    </form>
    <mat-card id="">
    <table class="table border">
        <th></th>
        <tbody *ngFor="let loan1 of loan">
            <tr>
                <td><b>Applicant name:</b>{{loan1.applicantName}}</td>
                <td><b>Applicant phone number:</b>{{loan1.applicantMobile}}</td>
                <td><b>applicant pan no.:</b>{{loan1.applicantPan}}</td>
            </tr>
            <tr>
                <td><b>Applicant Address:</b>{{loan1.applicantAddress}}</td>
                <td><b>Applicant Loan Id:</b>{{loan1.loanId}}</td>
                <td><b>Applicant Loan Amount</b>{{loan1.loanAmountRequires}}</td>
            </tr>
            <tr>
                <td><b>Applicant Email:</b>{{loan1.applicantEmail}}</td>
                <td><b>Applicant aadhar:</b>{{loan1.applicantAadhar}}</td>
                <td id="ss">{{loan1.loantype}}</td>
            </tr>
            <br>
            <br>
            <br>
        </tbody>
       
    </table>
</mat-card>
