<br>
<br>
<br>
<div class="container">
    
        <h4 id="s2">Home</h4>
        <br>

        <div style="background-color: #253c52;" class="card shadow-lg rounded">
            <img style=" object-fit: cover; "
                src="https://www.bajajautofinance.com/uploads/mobileslider/no-hypothecation-1912x5951.jpg" alt="...">

        </div>
        <br>
        <br>
        <div  id="ss" >
            <h1 class="text-center">Welcome to Bike Loan Processing System!!!!!!</h1>
            <br>
            <p class="lead text-sm-center"><b>
                This is an a online Bike Loan Processing System which helps to you monitor and control the transactons of
                your loan
                ,
                Through this a customer can view the apply for the loan,status of loan etc;</b>
            </p>
            <hr class="my-2">
            <p id="s1">Our vision is to provide modern Loan processing system.</p>
            
           
        </div>
    
</div>



