<nav class="navbar navbar-expand-lg  justify-content-aroundnav-light bg-warning">
    <a href="#" class="navbar-brand navbar">Bike | Loan</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span></button>
<div class="collapse navbar-collapse d-flex" id="navbarText">
<ul class="navbar-nav mr-auto">
    <li class="navbar-item mx-2">
        <a class="nav-link" id="s1"(click)="appliedloans()">Applied Loans</a>
    </li>
    <li class="navbar-item ">
        <a class="nav-link" id="s2"(click)="approvedloans()">Loan Details</a>
    </li></ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Logout</a>
        </li>
      </ul>

</div></nav>
